<div class="aci-dialog-content-div">
        <div class="aci-dialog-content-span">
            <label style="margin-left:10px;font-weight:normal" ng-bind="cloneprojLabel"></label>
        </div>
		<br/>			

        <div class="aci-dialog-content-span clone-project-footer">
            <input type="button" class = "a-button clone-delete-project-buttons" ng-click="cloneProjectconfirm()" value="Yes"/ style="margin-left:19%">
            <span><input type="button" class = "a-button clone-delete-project-buttons" ng-click="onCancelcloneProject()" value="No"></span>
        </div>
</div>