<div class="aci-dialog-content-div">
        <div class="aci-dialog-content-span">
            <label style="margin-left:10px;font-weight:normal" ng-bind="delTenantLabel"></label>
        </div>
		<br/>

        <div class="aci-dialog-content-span clone-project-footer">
            <input type="button" class = "a-button clone-delete-project-buttons" ng-click="deleteProjectconfirm()" value="Yes" style="margin-left:19%;"/>
            <span><input type="button" class = "a-button clone-delete-project-buttons" ng-click="onCanceldelProject()" value="No"></span>
        </div>
</div>