<span id="notification" style="display:none;"></span>
<div class="full-height">
    <div id="splitter">
		<div id="tenant-splitter" >
				<div id="tenant-pane" style="background-color:#fafafa;">
                <!--div class="summarycallbtn" id="slideToggle" ng-click="sumToggle()">Project Summary</div-->
                    <div class="pane-content">
                    <div class="tenantView" style="background-color:rgb(250,250,250);">
						<div class="tenantTitle" style="height:35px;">
							<div class="titles">Tenants</div>
							<div class= "plus-icon" ng-click="openTenantWindow()" style="margin-top:-19px;margin-left:55px;"></div>
							<span ng-include src="'views/tenantList.html'"></span>
							<div class="tenantMenu" ng-show="tenantList.length > 1"</div>
								<a class="dropdown-toggle" data-toggle="dropdown" style="margin-top:0px;z-index:8000;">
								<div class="tenantMenuIcon" aria-hidden="true"></div>
									<ul class="dropdown-menu" id="tenantDropDownList"  ng-show="tenantList.length > 1" style="margin-left:358px;top:60px;position:absolute;">
										<li><a></a></li>
									</ul>
					  
								</a>    
							</div>
						</div>
					</div>
					<div class="summaryView" id="summaryView" style="background-color:#fff;">
						<span ng-include src="'views/summaryView.html'"></span>
					</div>

                  </div>
				</div>
		<div class="">

					<div id="center-splitter" style="height: 100% !important;">
						<div id="app-left-pane">
							<div class="pane-content" style="position:relative; border: 1px solid #E3E3E3">
                            <div class="appln-header-box">
							<div class="appln-pane-title">APPLICATIONS</div>
							<div class= "plus-icon" style="margin-top:17px;" ng-click="toggleModal()" ng-show="!appWindowVisible" style="diplay:inline-block;"></div>
							<div id="appDropDown" style="margin-left:25px; display:inline-block;">
							<div class="dropdown" id="dropdownMenu2">
							<div class="selectedAppln" ng-show="applicationList.length>0" style="diplay:inline-block;">
									<div class="appName">{{applicationDisplayName}}</div>
						            <div class="vertical-line" style="height:32px!important;"></div>
									<span><div id="appclose" ng-click="openDelAppWindow(selectedApplicationIndex)" style="float:right;margin-top: -23px;">&#10006;</div></span>
							</div>
						
								<button class="btn btn-default" ng-show="applicationList.length>0"
										data-toggle="dropdown" id="appToggle" style="diplay:inline-block;">
										<div class= "caret"></div>
								</button>
	
                <ul class="dropdown-menu" id="appDropDownList">
                </ul>
            </div>
        </div>
	<div id="appPalette" style="float:right;">
                <ul id="shapesPanelBarApp">
                            <li>
                                            <span class="shapeItem"
                                                  data-shape='{"type":"epg","Id":"-1","name":"EPG","bdName":"","span":"0","epgSubnets":"0","noOfEndPoints":"0","connectors":[{"name":"bottom"}]}'
                                                  style="background-position: 0 0" data-role="draggable"></span>
                            </li>
                            <li>
                                            <span class="shapeItem"
                                                  data-type="contract" data-shape='{"type":"contract","Id":"-1","connectors":[{"name":"right"}]}'
                                                  style="background-position: -50px 0" data-role="draggable"></span>
                            </li>
							<li>
                                            <span class="shapeItem" id="tol3"
                                                  data-type="contract" data-shape='{"type":"contractl3","Id":"-1","connectors":[{"name":"right"}]}'
                                                  style="background-position: -300px 0" data-role="draggable"></span>
                            </li>
							<!--<li>
                                            <span class="shapeItem"
                                                  data-type="contract" data-shape='{"type":"contractshared","Id":"-1","connectors":[{"name":"right"}]}'
                                                  style="background-position: -400px 0" data-role="draggable"></span>
                            </li>-->
                        </ul>
		</div>
							<!--div id="app-slider">
									<div ng-class="{'vis-hidden': appControls==false}">
										<span class="glyphicon glyphicon-chevron-left" ng-click="showPrevApplication()" style="margin-left:10px;margin-top:58px; position:absolute; float:left;"></span>
										<span class="glyphicon glyphicon-chevron-right" ng-click="showNextApplication()" style="margin-top:7px;float:right; margin-right:4px;"></span>
									</div>
									
									<!--span class="glyphicon glyphicon-plus-sign" ng-click="openApplicationWindow()" ng-show="!appWindowVisible" style="left:30px;top:25px;position:absolute;color:#3185d7;font-size:15px;"></"></span-->
									<!--span ng-include src="'views/applicationList.html'"></span>
							</div-->
                            </div>
                                <div id="appDiagram" style="float:left; margin-top:10px;"></div>
                                <div id="zoomButtons">
							     	<div id="zoomInButton" class="zoomButton" ng-click="zoomInAppDiagram()">+</div>
									<div class="zoomButton" ng-click="zoomOutAppDiagram()">-</div>
								</div>
							</div>
						
						</div>
						<div id="fabric-right-pane" style="border:1px solid #E3E3E3;">
							<div class="pane-content">
                            <div class="fabric-header-box">
							<!--<div class="fabric-pane-title" style="margin-left:10px; float:left;">FABRIC</div>-->
                                   <div class="fabric-pane-title">FABRIC</div>            					
							<!--<Change Toggle value(1 or 2) below to set default value-->
							<div id="fabricPalette" style="float:right;">
								<ul id="shapesPanelBarFabric">
									<li>
                                            <span class="shapeItem"
                                                  data-shape='{"type":"vrf","Id":"-1","connectors":[{"name":"left"},{"name":"top"}]}'
                                                  style="background-position: -250px 0" data-role="draggable"></span>	
									</li>
									<li>
                                            <span class="shapeItem"
                                                  data-type="bd" data-shape='{"type":"bd","Id":"-1","connectors":[{"name":"left"},{"name":"top"}]}'
                                                  style="background-position: -100px 0" data-role="draggable"></span>
									</li>
									<!-- <li>
                                            <span class="shapeItem"
                                                  data-shape='{"type":"l2","Id":"-1","connectors":[{"name":"left"},{"name":"top"}]}'
                                                  style="background-position: -120px 0" data-role="draggable"></span>
									</li> -->
									<li>
                                            <span class="shapeItem"
                                                  data-type="l3out" data-shape='{"type":"l3out","Id":"-1","connectors":[{"name":"left"},{"name":"top"}]}'
                                                  style="background-position: -200px 0" data-role="draggable"></span>
									</li>
							</ul>
							</div>
                            </div>
                                <div id="fabricDiagram" style="position:absolute; float:left; padding-top:8px;" ></div>                                
							</div>
						</div>
                        
					</div>
				</div>
        </div>
    </div>


    <!-- <div id="bottom-box">
        <input id="diagramZoom"/>
        <input type="text" id="diagramZoomIndicator" class="a-textbox" value="70"
               style="width: 40px; vertical-align: middle;"/>
    </div> -->     
</div>

<div id="appwindow" style="display:none;" ng-include src="'views/addApplication.html'" style="border-radius:4px"></div>
<div id="tenantwindow" style="display:none;" ng-include src="'views/addTenant.html'" style="border-radius:4px"></div>
<div id="delNodeWindow" style="display:none;" ng-include src="'views/delNode.html'" style="border-radius:4px"></div>
<div id="delAppWindow" style="display:none;" ng-include src="'views/delApp.html'" style="border-radius:4px"></div>
<modal class="modal" visible="showModal" style="margin-top:100px;" role="dialog" data-backdrop="static" data-keyboard="false" >
     <div id ="appWorkflowForm" ng-include src="'views/appWorkflowDialog.html'"></div>
</modal>

</div>

  <div class="sizerResultsView" ng-show="showSizingResults">
	<div style="height:30px; width:100%!important; border-bottom:1px solid #eaeaea">
		<div class="summaryboxTitle">RESULT</div>
		<div class="summarybackBtn" ng-click="hideExpandedView();">Back</div>
	</div>
		<div class="summaryView" style="margin-top:30px;left:9px;!important;width:680px;">
			<span ng-include src="'views/summaryView.html'"></span>
	    </div>
		<div class="sizer" style="margin-top:155px; margin-left:-100px;">
			<span ng-include src="'views/sizerResults.html'"></span>
	    </div>
	</div>		
  </div>
	  
	  
<script>
var appDelete = false;

$("#dropdownMenu2").on("click", "li", function() {
    var platform = $(this).text();
	platform = platform.substring(0, platform.length - 1);
	var n = platform.indexOf("(");
	platform = platform.substring(0, n-1);
	var index = angular.element('#dropdownMenu2').scope().getApplicationIndex(platform);
	if (appDelete == true) {
			angular.element('#dropdownMenu2').scope().changeSelectedApplication(index);
			angular.element('#dropdownMenu2').scope().openDelAppWindow(index);
			appDelete = false;
	}
	else {
		angular.element('#dropdownMenu2').scope().changeSelectedApplication(index);
	}
}); 

$("#dropdownMenu2").on("click", "li #appclose", function(event) {
	appDelete = true;
});  

$("#tenantDropDownList").on("click", "li", function() {
    var platform = $(this).text();
	var index = angular.element('#tenantDropDownList').scope().getTenantIndex(platform);
	angular.element('#tenantDropDownList').scope().changeSelectedTenant(index);
	angular.element('#tenantDropDownList').scope().tenantSlider.goToSlide(index-1);

}); 
   </script>



