      <div id="summaryView">
      <div class="leafNodes" style="width:22%!important;border-right:1px solid #eaeaea; height:90px; margin-top: 30px;">
		<div style="height:45px;border-bottom:1px solid #eaeaea;">
			<div class="leafs-count">{{currProject.logicalRequirementSummary.leafCountRegular}}</div>
            <div class="leaftitle-text">Regular Leaf</div>
		</div>
		<div>
			<div class="leafs-count">{{currProject.logicalRequirementSummary.leafCountBorder}}</div>
                <div class="leaftitle-text">Border Leaf</div>
		</div>
	  </div>
	  
	   <div class="ProjectSummaryTitle" style="left:0%!important;top:0px; position:absolute; background: #fafafa; height:30px!important;border-bottom:1px solid #eaeaea;right:0px;">
		<div class="summary-headerText">Project Summary</div>

		<div class="summarymoreBtn chooseSwitchButton dropdown" ng-hide="showSizingResults"> 
			<span class="tooltip" id="chooseSwitches" style="position:relative;" title="This feature available only on the next release">
			 <a class="dropdown-toggle" data-toggle="dropdown" style="color:#fff" id="switchDropDown">Choose Switches from Room
	            
            </a> 
        </span>
		</div><!--ng-click="chooseSwitchesFromPhySizer-->
		<div class="summarymoreBtn" id="expandtableid" ng-click="moreButtonDisabled || showExpandedView();" ng-hide="showSizingResults" ng-disabled="moreButtonDisabled">More</div>  
	   </div>
	
	   <div class="ProjectFirstCol" style="left:22%!important;top:30px; position:absolute; width: 31%!important; border-right:1px solid #eaeaea; height:90px !important;">
		<div style="height:30px; border-bottom:1px solid #eaeaea;">
			<div class="wlsummary-label">Tenants:</div>
			<div class="wlsummary-data">
                        {{currProject.logicalRequirementSummary.tenantCount}}
             </div>
		</div>
		<div style="height:30px; border-bottom:1px solid #eaeaea;">
			 <div class="wlsummary-label">EPGs:</div>
                    <div class="wlsummary-data">
                        {{currProject.logicalRequirementSummary.epgCount}}
                    </div>
		</div>
			  <div class="wlsummary-label" style=" border-left:1px solid #eaeaea;">End Points:</div>
                    <div class="wlsummary-data">
                        {{currProject.logicalRequirementSummary.endPoints}}
                    </div>
	   </div>
	   <div class="ProjectSecCol" style="left:53%!important;top:30px; position:absolute; width: 29%!important; border-right:1px solid #eaeaea; height:90px !important;">
		<div style="height:30px; border-bottom:1px solid #eaeaea;">
				<div class="wlsummary-label">Contracts:</div>
                    <div class="wlsummary-data">
                        {{currProject.logicalRequirementSummary.contractCount}}
                    </div>
		</div>
		<div style="height:30px; border-bottom:1px solid #eaeaea;">
			<div class="wlsummary-label">Filters:</div>
                    <div class="wlsummary-data">
                        {{currProject.logicalRequirementSummary.filterCount}}
                    </div>
		</div>
		  <div class="wlsummary-label">VRFs:</div>
                    <div class="wlsummary-data">
                        {{currProject.logicalRequirementSummary.vrfCount}}
                    </div>
	   </div>
	    <div class="ProjectLastCol" style="left:82%!important;top:30px; position:absolute;right:0px; width:18%; height:90px !important;">
		<div style="height:30px; border-bottom:1px solid #eaeaea;">
			<div class="wlsummary-label">BDs:</div>
                    <div class="wlsummary-data">
                        {{currProject.logicalRequirementSummary.bdCount}}
                    </div>
		</div>
		<div style="height:30px; border-bottom:1px solid #eaeaea;">
		</div>
	   </div>
	</div>
	    <div class="apicdetails" ng-if="showapic" style="left:100.1%!important;top:-1px; font-size:12px; position:absolute;right:0px; width:38%; height:120px !important; background:#fff; border: 1px solid #ddd; border-left: 0px;">
	    <div class="saveConfig" >Save Config to APIC</div>
		<div style="height:80px;">
			<div class="" style="padding: 15px 0px;">APIC Name : <span> {{currProject.device.name}}</span></div>
			<!-- <p class="apicConfig">Save config to APIC</p> -->
            <input type="button" class="add_btn" value="Start Now"  ng-click="pushApicPopup()"/>
		</div>
	 
	   </div>
	   
	   