<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Network Sizer</title>
  <link rel="stylesheet" href="styles/bootstrap.css">
  <!-- bower components styles-->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> 
  <!-- application styles -->
  <!-- <link rel="stylesheet" type="text/css" href="app/styles/font-awesome.min.css"> -->
<!--   <link rel="stylesheet" type="text/css" href="app/styles/fonts.css">
  <link rel="stylesheet" type="text/css" href="app/styles/common.css">
  <link rel="stylesheet" type="text/css" href="app/styles/utility.css"> -->
  <link rel="stylesheet" type="text/css" href="app/styles/common.css">
  <link rel="stylesheet" type="text/css" href="app/directives/form-validation/form-validation.css">


  <link rel="stylesheet" type="text/css" href="app/views/login/login.css">
  <link rel="stylesheet" type="text/css" href="app/views/navbar/navbar.css">
  <link rel="stylesheet" type="text/css" href="app/views/home/home.css">
  <link rel="stylesheet" type="text/css" href="app/views/home/plugins/plugins.css">
  <link rel="stylesheet" type="text/css" href="app/views/home/projects/projects.css">
  <link rel="stylesheet" type="text/css" href="app/views/home/projects/details/project-details.css">
  <link rel="stylesheet" type="text/css" href="app/views/home/repositories/repositories.css">
  <link rel="stylesheet" type="text/css" href="app/views/home/users/users.css">
  <link rel="stylesheet" type="text/css" href="app/directives/progress-bar/progress-bar.css">
  <link rel="stylesheet" href="styles/libs/lightslider.css"/>


    
    <!-- <link rel="stylesheet" href="styles/aci.css"/> -->
    <link rel="stylesheet" href="styles/aci.common.min.css">
    <link rel="stylesheet" href="styles/aci.rtl.css">
    <link rel="stylesheet" href="styles/aci.material.min.css">
    <link rel="stylesheet" href="styles/aci.mobile.all.min.css">
    <link rel="stylesheet" href="styles/libs/codetabs.src.css">
    <link rel="stylesheet" href="styles/libs/code.animate.src.css">
    <link rel="stylesheet" href="styles/aci.css"/>
    <link rel="stylesheet" href="styles/libs/lightslider.css"/>
    <link rel="stylesheet" href="styles/jquery-ui.css"/>
    <link rel="stylesheet" href="styles/Physicalstyle2.css"/>
    <link rel="stylesheet" href="styles/xeditable.css"/>
    <link rel="stylesheet" href="styles/font-awesome.min.css"/>
    <link rel="stylesheet" href="styles/angular-chart.css"/>
    <link rel="stylesheet" href="modules/physical/styles/physical.css"/>  
</head>
<body ng-app="webappApp" class="aci-content" ng-controller="IndexController">

<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<header >

    <div id="header">
             <div class="editFormHeader" style="display:none" id="headerBox"></div>
        <div class="logo-bar">
            <img alt="Cisco UI logo" class="pull-left" src="images/logo.png">
            <span class="logo-text">Network Sizer</span>
        </div>
       <!-- <div class="v-divider"></div>-->
        <div class="project-name-container">
        	<div class="projectName-box">
            	
                <div class="pull-left projectSelectionBox" ng-show="projectDropDown" ng-cloak>
                <div class="project-name-text pull-left" ng-bind="projectName"></div>
                        <div class="select-style1 pull-left">
                            <select required  class="text_field" ng-model="project.selectedProject" ng-change="changeProject(project.selectedProject)">
                                    <!-- <option value="" selected hidden></option>  -->
                                    <option value="Physical">Physical</option>
                                    <!-- for Nexus 9000 disable the Logical option-->
                                    <option value="Logical" ng-hide="currProject.type == 'Nexus 9000'">Logical</option>
                            </select> 
                        </div>
                </div>
            </div>
            <!--<div class="tenantName-box">
            	<div class="tenant-name-text" ng-show="showTenantName==true">{{tenantList[selectedTenantIndex].displayName}}</div>
            </div>-->
		</div>
        <!-- <ul class="nav nav-tabs">
             <li role="presentation"><a href="#">Home</a></li>
             <li role="presentation"><a href="#">Profile</a></li>
             <li role="presentation"><a href="#">Messages</a></li>
         </ul>
         -->

        <span ng-cloak class="pull-right">
            <!--ng-switch="authenticated"-->
             <ul ng-if="isUserLoggedIn" class="navBar">
                <li><a href='#/dashboard'>Dashboard</a></li>
                <li><a ui-sref='plugins' >Plugins</a></li>
                <li><a ui-sref='repositories'>Repository</a></li>
                <li ng-if="userInfo.role=='ROLE_ADMIN'"><a ui-sref='users'>User Management</a></li>
                <li ng-click="logOut()"><a href='javascript:void(0)' class="logout" title="Logout"><i class="fa fa-sign-out"  aria-hidden="true"></i></a></li>

              </ul>
            <span class="acitabs collapse navbar-collapse pull-right" id="navbar-collapse">
            <ul  class="nav navbar-nav nav-pills  navbar-right"> 

                <!--li id ="sizer-logical-tab" class="active">
                    <a class="acitab-link" href="#projects" data-toggle="tab">Logical <div class="white-actvarrow"></div></a>
                    
                </li>
                <li id ="sizer-physical-tab">                
                <a href="#physical" class="acitab-link" data-toggle="tab">Physical <div class="white-actvarrow"></div></a>
                
                </li-->
                <!--li id ="sizer-result-tab"><a class="acitab-link" href="#results" data-toggle="tab">Sizer Result</a>
                </li-->
                <!--li><a class="acitab-link" href="#template" data-toggle="tab">Template</a>
                </li-->
                <!--<li class="disabled">&nbsp;</li>--> 
                <!-- <li style="width: auto"  ng-show="isProjectVisible"><a href="#" ng-click="showDashBoard()" ><div class="home-icon"></div></a></li> 
                <li style="width: auto; height:20px; margin-top: 10px;" class="v-line" ng-show="isProjectVisible"></li> -->
                <li style="width: auto" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="margin-top:0px;">
                        <div class="dropmenu-icon" aria-hidden="true"></div>
                          <ul class="dropdown-menu">
                        <!-- <li><a target="_blank" href="views/releasenotes.html">Release Notes</a></li> -->
                        <li><a target="_blank" href="views/userguide.html">User Guide</a></li>
                        <li><a target="_blank" href="https://www.surveymonkey.com/r/Y337KS7">Feedback</a></li>
                      </ul>
                    </a>         
                </li>
            </ul>

            </span>
        </span>
    </div>
</header>



<!--<div class="tab-content clearfix">
    <div class="tab-pane active" id="projects">
        <h3>Same as example 1 but we have now styled the tab's corner</h3>
    </div>
    <div class="tab-pane" id="physical">
        <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
    </div>
    <div class="tab-pane" id="results">
        <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
    </div>
    <div class="tab-pane" id="template">
        <h3>We use css to change the background color of the content to be equal to the tab</h3>
    </div>
</div>-->

<div class="" ui-view="" style="height: 93.6% !important;"></div>
<div class="lightBoxPopup" style="display:none" id="lightBox"></div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->

<script src="bower_components/modernizr/modernizr.js"></script>
<!-- <script src="bower_components/jquery/jquery.js"></script> -->
<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
<script src="scripts/jquery-ui.js"></script>
<script type="text/javascript" src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="scripts/jquery.slimscroll.js"></script>
<script type="text/javascript" src="bower_components/TableHeadFixer/tableHeadFixer.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
<script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
<script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js"></script> -->


  <!-- bower_components Scripts -->

<!--Start local libraries -->
<script src="scripts/libs/jszip.min.js"></script>
<!--End local libraries -->

<!-- Start of framework scripts -->
<!-- End of framework scripts -->

<!-- Start of Custom scripts -->
<!--<script src="scripts/http-auth-interceptor.js"></script>-->
<script src="scripts/truncate.js"></script>
<script src="scripts/utils.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/constants.js"></script>
<script src="modules/physical/scripts/physicalController.js"></script>
<script src="modules/physical/scripts/physicalSizerServices.js"></script>
<script src="modules/physical/scripts/physicalConstants.js"></script>
<script src="modules/physical/scripts/physicalDirective.js"></script>
<script src="modules/dashboard/scripts/dashboardController.js"></script>
<script src="modules/dashboard/scripts/dashboardServices.js"></script>
<script src="scripts/IndexController.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/factory.js"></script>
<script src="scripts/cbpTooltipMenu.min.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/ngscrollbar.js"></script>

  <script type="text/javascript" src="scripts/libs/Chart.js"></script>    
  <script type="text/javascript" src="scripts/ngscrollbar.js"></script>   
  <script type="text/javascript" src="scripts/libs/lightslider.js"></script>     
  <script type="text/javascript" src="scripts/libs/dirPagination.js"></script>     
  <script type="text/javascript" src="scripts/libs/angular-chart.js"></script>    

  <!-- Application Directives -->
  <script type="text/javascript" src="app/directives/form-validation/form-validation.js"></script>
  <script type="text/javascript" src="app/directives/progress-bar/progress-bar.js"></script>    
  
  <!-- Application Scripts -->
  <script type="text/javascript" src="app/index.module.js"></script>    
  <script type="text/javascript" src="app/constants/app-constants.js"></script>
  <script type="text/javascript" src="app/constants/request-types.js"></script>
  <script type="text/javascript" src="app/constants/object-types.js"></script>
  <script type="text/javascript" src="app/values/app-values.js"></script>
  
  <script type="text/javascript" src="app/configs/app-config.js"></script>
  <script type="text/javascript" src="app/configs/app-routes-config.js"></script>
  <script type="text/javascript" src="app/configs/http-interceptor-config.js"></script>
  <script type="text/javascript" src="app/configs/slim-scroll-config.js"></script>
  <script type="text/javascript" src="app/services/request-canceller.js"></script>
  <script type="text/javascript" src="app/services/util.js"></script>

  <script type="text/javascript" src="app/services/mock-service.js"></script>
  <script type="text/javascript" src="app/services/project-service.js"></script>
  <script type="text/javascript" src="app/services/project-details-service.js"></script>
  <script type="text/javascript" src="app/services/device-service.js"></script>
  <script type="text/javascript" src="app/services/repository-service.js"></script>
  <script type="text/javascript" src="app/services/plugin-service.js"></script>
  <script type="text/javascript" src="app/services/user-service.js"></script>
  <script type="text/javascript" src="app/services/authentication-service.js"></script>
  <script type="text/javascript" src="app/services/popup-service.js"></script>
  <script type="text/javascript" src="app/services/model-service.js"></script>
  
  <script type="text/javascript" src="app/views/login/login-controller.js"></script>
  <script type="text/javascript" src="app/views/home/home-controller.js"></script>
  <script type="text/javascript" src="app/views/navbar/navbar-controller.js"></script>

  <script type="text/javascript" src="app/views/home/plugins/plugins-controller.js"></script>
  <script type="text/javascript" src="app/views/home/plugins/plugins-left-panel-controller.js"></script>
  <script type="text/javascript" src="app/views/home/plugins/plugins-right-panel-controller.js"></script>
  <script type="text/javascript" src="app/views/home/plugins/models-popup-controller.js"></script>
    

  <script type="text/javascript" src="app/views/home/projects/projects-controller.js"></script>
  <script type="text/javascript" src="app/views/home/projects/projects-popup-controller.js"></script>
  <script type="text/javascript" src="app/views/home/projects/details/project-details-controller.js"></script>
  
  <script type="text/javascript" src="app/views/home/repositories/repositories-controller.js"></script>
  <script type="text/javascript" src="app/views/home/repositories/repository-left-panel-controller.js"></script>
  <script type="text/javascript" src="app/views/home/repositories/repository-right-panel-controller.js"></script>
  <script type="text/javascript" src="app/views/home/repositories/devices-popup-controller.js"></script>

  <script type="text/javascript" src="app/views/home/users/users-controller.js"></script>
  <script type="text/javascript" src="app/views/home/users/users-popup-controller.js"></script>

  
  <script type="text/javascript" src="scripts/framework/aci.all.min.js"></script>
  <!-- <script type="text/javascript" src="scripts/framework/aci.angular.min.js"></script> -->
  <script type="text/javascript" src="scripts/framework/aci.timezones.min.js"></script>
  <script type="text/javascript" src="scripts/dashboardServices.js"></script>
  <script type="text/javascript" src="scripts/physicalConstants.js"></script>
  <script type="text/javascript" src="scripts/directives.js"></script>
  <script type="text/javascript" src="scripts/libs/xeditable.js"></script>


  <script type="text/javascript" src="app/state.controller.js"></script>
  <script type="text/javascript" src="app/index.run.js"></script>   




<!-- End of custom scripts -->
<script>
    $("#tabs").tabs();
</script>
<!-- Start bootstrap custom scripts -->
<!--
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>
-->
<!-- End bootstrap custom scripts -->

<!-- end:Others-->
</body>
</html>
