<div class="aci-dialog-content-div">
    <form class="formDataStyle" name="addRoomForm"  ng-submit="addRoomForm.$valid && validateAddRoom($event)" id="addRoomForm">
    
        <div class="aci-dialog-content-span">
            <label>Name</label>
            <input class="a-textbox aci-field physicalLabels" type="text" id="name" ng-model="addRoomF.name" required/>
        </div>
        </br>
        <div class="aci-dialog-content-span">
             <label>Rows</label>
             <input type="number" class="physicalLabels" id="addRoomRowInstances" ng-model="addRoomF.rows"required/>
        </div>
        </br>

        <div class="aci-dialog-content-span">
             <label>Racks</label>
             <input  class="physicalLabels" type="number" id="addRoomRackInstances" ng-model="addRoomF.racks" required>
        </div>
        </br>       

    
        <div class="aci-dialog-content-span">
            <label>Rack Type</label>
        </br>
            <select id="rackU" ng-model="addRoomF.rackU" required validationMessage="Enter RU type" placeholder="Select RU Type"
                    class="aci-field physicalLabels wid90">                    
            </select>
        </div> 
        </br>

        <div class="aci-dialog-content-span add-tenant-footer">
            <div class="window-button">
                <input class = "a-button add-tenant-buttons" type="submit" value="Save" style="margin-left:-20px"/>
                <span><input class = "a-button add-tenant-buttons" ng-click="onCanceladdRoom()" value="Cancel"></span>
            </div>
       </div>
    </form>
</div>


