<div class="aci-dialog-content-div">
    <form class="formDataStyle" name="deleteSwitchForm"  ng-submit="deleteSwitchForm.$valid && validateDeleteSwitch($event)" id="deleteSwitchForm">   
        <div class="aci-dialog-content-span">
            <label class="deleteFormLabels" id="delSwitchLabel"></label>            
        </div>
    <br>
        <div class="aci-dialog-content-span margin_top-10">
            <div class="window-button">
                <input class = "a-button yes_btn" type="submit" value="Yes" />
                <span><input class = "a-button" ng-click="onCancelDeleteSwitch()" value="No" style="width:40px"/></span>
            </div>
       </div>
    </form>
</div>


