<div class="aci-dialog-content-div">
    <form class="formDataStyle" name="deleteRoomForm"  ng-submit="deleteRoomForm.$valid && validateDeleteRoom($event)" id="deleteRoomForm">    
        <div class="aci-dialog-content-span">
            <label class="deleteFormLabels" id="delRoomLabel"></label>            
        </div>
       <br>
        <div class="aci-dialog-content-span margin_top-10">
            <div class="window-button">
                <input class = "a-button yes_btn" type="submit" value="Yes"/>
                <span><input class = "a-button no_btn" ng-click="onCancelDeleteRoom()" value="No"/></span>
            </div>
       </div>
    </form>
</div>


