<div class="aci-dialog-content-div">
    <form class="formDataStyle" name="revertTerminationForm"  ng-submit="revertTerminationForm.$valid && validateRevertTermination($event)" id="revertTerminationForm">   
        <div class="aci-dialog-content-span">
            <label class="revertFormLabels margin_left10" id="revertLabel"></label>            
        </div>
    <br>
        <div class="aci-dialog-content-span margin_top-10">
            <div class="window-button">
                <input class = "a-button yes_btn" type="submit" value="Yes" />
                <span><input class = "a-button" ng-click="onCancelrevertTermination()" value="No" style="width:40px"/></span>
            </div>
       </div>
    </form>
</div>


